In [1]:
import pandas as pd
import numpy as np

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [3]:
!wget $data

--2023-10-02 18:56:40--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1,4M) [text/plain]
Saving to: 'data.csv.8'

     0K .......... .......... .......... .......... ..........  3%  299K 5s
    50K .......... .......... .......... .......... ..........  6% 1,07M 3s
   100K .......... .......... .......... .......... .......... 10%  509K 3s
   150K .......... .......... .......... .......... .......... 13% 1,58M 2s
   200K .......... .......... .......... .......... .......... 17%  554K 2s
   250K .......... .......... .......... .......... .......... 20% 1,24M 2s
   300K .......... .......... .......... .......... .......... 24% 1,68M 2s
   350K .......... .......... .......... .......... .......... 27%  540K 2s
   400K .......... .......... .......... .......... .......... 31% 1,15M 1s
   450K .......... .......... .......... .......... .......... 34% 3,54M 1s
   500K .......... .......... .......... .......... .......... 38% 4,07M 1s
   550K .......... .......... .......... .......... .......... 41% 4,54M 1s
   600K .......... .......... .......... .......... .......... 45%  761K 1s
   650K .......... .......... .......... .......... .......... 48% 3,70M 1s
   700K .......... .......... .......... .......... .......... 52% 3,85M 1s
   750K .......... .......... .......... .......... .......... 55% 4,99M 1s
   800K .......... .......... .......... .......... .......... 58% 3,88M 1s
   850K .......... .......... .......... .......... .......... 62% 5,82M 0s
   900K .......... .......... .......... .......... .......... 65% 5,82M 0s
   950K .......... .......... .......... .......... .......... 69% 6,91M 0s
  1000K .......... .......... .......... .......... .......... 72% 6,64M 0s
  1050K .......... .......... .......... .......... .......... 76% 5,97M 0s
  1100K .......... .......... .......... .......... .......... 79% 7,66M 0s
  1150K .......... .......... .......... .......... .......... 83% 1,13M 0s
  1200K .......... .......... .......... .......... .......... 86% 3,47M 0s
  1250K .......... .......... .......... .......... .......... 90% 8,19M 0s
  1300K .......... .......... .......... .......... .......... 93% 9,17M 0s
  1350K .......... .......... .......... .......... .......... 97% 8,82M 0s
  1400K .......... .......... .......... ..........           100% 7,19M=0,9s

2023-10-02 18:56:42 (1,54 MB/s) - 'data.csv.8' saved [1475504/1475504]

In [4]:
df = pd.read_csv('data.csv')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [5]:
df = df[['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']]

In [6]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [7]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [8]:
df = df.fillna(0)

In [9]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [10]:
df.rename(columns={'msrp': 'price'}, inplace=True)
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

Question 1

In [11]:
df['transmission_type'].describe()

count         11914
unique            5
top       AUTOMATIC
freq           8266
Name: transmission_type, dtype: object

Question 2

In [12]:
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [13]:
df[['year', 'engine_cylinders']].corrwith(df['engine_hp'])

year                0.338714
engine_cylinders    0.774851
dtype: float64

In [14]:
df[['city_mpg', 'engine_cylinders']].corrwith(df['highway_mpg'])

city_mpg            0.886829
engine_cylinders   -0.614541
dtype: float64

In [15]:
mean_price = df.price.mean()
mean_price

40594.737032063116

In [16]:
df['above_average'] = np.where(df.price > mean_price, 1, 0)
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995,0

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [19]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [20]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [21]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [22]:
df_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15,33599
1,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17,26245
2,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12,248000
3,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20,24990
4,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20,20475
...,...,...,...,...,...,...,...,...,...,...
7143,Toyota,Sienna,2016,266.0,6.0,AUTOMATIC,Passenger Minivan,25,18,37655
7144,Chevrolet,HHR,2009,260.0,4.0,MANUAL,Wagon,29,21,25135
7145,Hyundai,Veracruz,2012,260.0,6.0,AUTOMATIC,4dr SUV,22,17,28345
7146,Mitsubishi,Expo,1993,136.0,4.0,MANUAL,2dr Hatchback,26,19,2000
7147,Ford,Taurus,2015,365.0,6.0,AUTOMATIC,Sedan,25,17,40220

Question 3

In [23]:
from sklearn.metrics import mutual_info_score

In [24]:
df_full_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
3181,Cadillac,CT6,2016,265.0,4.0,AUTOMATIC,Sedan,31,22,53495,1
5357,Mercedes-Benz,GLS-Class,2017,449.0,8.0,AUTOMATIC,4dr SUV,18,14,93850,1
4874,Kia,Forte,2016,173.0,4.0,AUTOMATIC,Coupe,34,25,19890,0
8102,Dodge,RAM 250,1993,180.0,6.0,MANUAL,Regular Cab Pickup,16,11,2000,0
10400,Hyundai,Tiburon,2008,172.0,6.0,AUTOMATIC,2dr Hatchback,24,17,21270,0
...,...,...,...,...,...,...,...,...,...,...,...
11284,Toyota,Venza,2014,181.0,4.0,AUTOMATIC,Wagon,26,20,27950,0
5191,Pontiac,G6,2009,219.0,6.0,AUTOMATIC,Sedan,26,17,24710,0
5390,Volkswagen,Golf GTI,2016,220.0,4.0,AUTOMATED_MANUAL,2dr Hatchback,33,25,27590,0
860,Saab,9-5,2009,260.0,4.0,AUTOMATIC,Wagon,27,17,43270,1
7270,Lexus,NX 200t,2015,235.0,4.0,AUTOMATIC,4dr SUV,28,21,35880,0

In [25]:
mutual_info_score(df_full_train.above_average, df_full_train.make)

0.2387236479073192

In [26]:
mutual_info_score(df_full_train.above_average, df_full_train.model)

0.46099440756035703

In [27]:
mutual_info_score(df_full_train.above_average, df_full_train.transmission_type)

0.020883575914971135

In [28]:
mutual_info_score(df_full_train.above_average, df_full_train.vehicle_style)

0.08339022741593435

Quetion 4

In [29]:
from sklearn.feature_extraction import DictVectorizer

In [30]:
dv = DictVectorizer(sparse=False)

train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [33]:
y_pred = model.predict(X_val)

In [34]:
df_pred = pd.DataFrame()
df_pred['prediction'] = y_pred
df_pred['actual'] = y_val
df_pred['correct'] = df_pred.prediction == df_pred.actual

In [35]:
accuracy = df_pred.correct.mean()
accuracy

0.9995803608896349

Question 5

In [36]:
columns_to_exlude = ['year', 'engine_hp', 'transmission_type', 'city_mpg']
columns_to_exlude

['year', 'engine_hp', 'transmission_type', 'city_mpg']

In [37]:
def calculate_accuracy(dataframe):
    dv = DictVectorizer(sparse=False)
    train_dict = dataframe.to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)
    val_dict = df_val.to_dict(orient='records')
    X_val = dv.transform(val_dict)
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    df_pred = pd.DataFrame()
    df_pred['prediction'] = y_pred
    df_pred['actual'] = y_val
    df_pred['correct'] = df_pred.prediction == df_pred.actual
    return df_pred.correct.mean()

In [38]:
new = df_train.loc[:, df_train.columns != 'year']
new

,make,model,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,Mitsubishi,Endeavor,225.0,6.0,AUTOMATIC,4dr SUV,19,15,33599
1,Kia,Borrego,276.0,6.0,AUTOMATIC,4dr SUV,21,17,26245
2,Lamborghini,Gallardo,570.0,10.0,MANUAL,Convertible,20,12,248000
3,Chevrolet,Colorado,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20,24990
4,Pontiac,Vibe,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20,20475
...,...,...,...,...,...,...,...,...,...
7143,Toyota,Sienna,266.0,6.0,AUTOMATIC,Passenger Minivan,25,18,37655
7144,Chevrolet,HHR,260.0,4.0,MANUAL,Wagon,29,21,25135
7145,Hyundai,Veracruz,260.0,6.0,AUTOMATIC,4dr SUV,22,17,28345
7146,Mitsubishi,Expo,136.0,4.0,MANUAL,2dr Hatchback,26,19,2000
7147,Ford,Taurus,365.0,6.0,AUTOMATIC,Sedan,25,17,40220

In [39]:
for col in columns_to_exlude:
    dataframe = df_train.loc[:, df_train.columns != col]
    result = calculate_accuracy(dataframe)
    diff = accuracy - result
    print('Accuracy difference wihout', col, diff)

Accuracy difference wihout year 0.05245488879563576
Accuracy difference wihout engine_hp -0.00041963911036513313
Accuracy difference wihout transmission_type 0.0
Accuracy difference wihout city_mpg 0.0

Question 6

In [40]:
cat = ['make', 'model', 'transmission_type', 'vehicle_style']
num = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

In [41]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [42]:
X_train_num = df_train[num].values
scaler = StandardScaler()
X_train_num = scaler.fit_transform(X_train_num)

In [43]:
y_train = np.log1p(df_train['price'].values)
y_val = np.log1p(df_val['price'].values)
y_test = np.log1p(df_test['price'].values)

del df_train['price']
del df_val['price']
del df_test['price']

In [44]:
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_cat = ohe.fit_transform(df_train[cat].values)
X_train = np.column_stack([X_train_num, X_train_cat])

In [45]:
from sklearn.linear_model import Ridge

In [46]:
def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)

In [47]:
alphas = [0, 0.01, 0.1, 1, 10]

In [48]:
for a in alphas:
    model = Ridge(alpha=a, max_iter=15000, solver='sag', random_state=42)
    model.fit(X_train, y_train)
    X_val_num = df_val[num].values
    X_val_num = scaler.transform(X_val_num)
    X_val_cat = ohe.transform(df_val[cat].values)
    X_val = np.column_stack([X_val_num, X_val_cat])
    y_pred = model.predict(X_val)
    error = rmse(y_val, y_pred)
    print('For alpha ', a, error)

For alpha  0 0.21768697022120218
For alpha  0.01 0.21772931784182958
For alpha  0.1 0.21830657372954632
For alpha  1 0.23128740665436542
For alpha  10 0.32101136901021093